<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../resources/static/assets/css/app.css">
    <script src="https://kit.fontawesome.com/6697f5eca6.js" crossorigin="anonymous"></script>
    <title>Listar produtos</title>
</head>

<body>
    <div class="app">
        <div class="app-content">
            <div class="app-sidebar">
                <div class="app-sidebar-content">
                    <div class="app-sidebar-header">
                        <strong>INFNET</strong>
                    </div>
                    <div class="scroller scroller-base">
                        <div class="scroller-content">
                            <div style="height: 0px;"></div>
                            <div class="default-container">
                                <a href="#" class="list-item">
                                    <div class="list-item-content">
                                        <div class="mb-16">
                                            <i class="fas fa-bars"></i>
                                        </div>
                                        <div>
                                            MENU
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="default-container">
                                <a href="#" class="list-item">
                                    <div class="list-item-content">
                                        <div class="mb-16">
                                            <i class="fas fa-boxes"></i>
                                        </div>
                                        <div>
                                            PRODUTOS
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="default-container">
                                <a href="#" class="list-item">
                                    <div class="list-item-content">
                                        <div class="mb-16">
                                            <i class="fas fa-file-alt"></i>
                                        </div>
                                        <div>
                                            COTAÇÕES
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="app-body">
                <div class="scroller scroller-base">
                    <div class="scroller-content">
                        <div class="app-body-content">
                            <div class="app-header">
                                <span>Produtos</span>
                            </div>
                            <div class="app-table-wrapper">
                                <table style="width: 100%;
                                text-align: left;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>NOME</th>
                                            <th>FABRICANTE</th>
                                            <th>DESCRIÇÃO</th>
                                            <th>CLASSIFICAÇÃO</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="table-divider"></td>
                                            <td>Item da lista</td>
                                            <td>Outra info sla</td>
                                            <td>Botão de delete?</td>
                                            <td>Botão de delete?</td>
                                            <td><button><i class="fas fa-trash"></i></button></td>
                                            <td><button><i class="fas fa-edit"></i></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>